# Configuration file

general {
    # domain:name:meta
    # domain defaults to `minecraft`
    # meta is optional
    # domain is required if meta is specified
    S:"Centered Wear" <
        aov:handwraps
        wooden_sword
        wooden_axe
        wooden_hoe
        wooden_pickaxe
        wooden_shovel
        leather_boots
        leather_chestplate
        leather_helmet
        leather_leggings
        roots:living_axe
        roots:living_hoe
        roots:living_pickaxe
        roots:living_shovel
        roots:living_sword
        roots:sylvan_boots
        roots:sylvan_chestplate
        roots:sylvan_helmet
        roots:sylvan_leggings
        roots:wildwood_bow
        roots:wildwood_boots
        roots:wildwood_chestplate
        roots:wildwood_helmet
        roots:wildwood_leggings
        beastmaster:beastmaster_chest
        beastmaster:beastmaster_feet
        beastmaster:beastmaster_head
        beastmaster:beastmaster_legs
        beastmaster:claws
        cyclicmagic:mattock
        iceandfire:dragonbone
        iceandfire:dragonbone_axe
        iceandfire:dragonbone_bow
        iceandfire:dragonbone_hoe
        iceandfire:dragonbone_pickaxe
        iceandfire:dragonbone_shovel
        iceandfire:dragonbone_sword
        iceandfire:dragonbone_sword_fire
        iceandfire:dragonbone_sword_ice
        iceandfire:forest_troll_leather_boots
        iceandfire:forest_troll_leather_chestplate
        iceandfire:forest_troll_leather_helmet
        iceandfire:forest_troll_leather_leggings
        iceandfire:frost_troll_leather_boots
        iceandfire:frost_troll_leather_chestplate
        iceandfire:frost_troll_leather_helmet
        iceandfire:frost_troll_leather_leggings
        iceandfire:mountain_troll_leather_boots
        iceandfire:mountain_troll_leather_chestplate
        iceandfire:mountain_troll_leather_helmet
        iceandfire:mountain_troll_leather_leggings
        iceandfire:myrmex_desert_axe
        iceandfire:myrmex_desert_boots
        iceandfire:myrmex_desert_chestplate
        iceandfire:myrmex_desert_helmet
        iceandfire:myrmex_desert_hoe
        iceandfire:myrmex_desert_leggings
        iceandfire:myrmex_desert_pickaxe
        iceandfire:myrmex_desert_shovel
        iceandfire:myrmex_desert_staff
        iceandfire:myrmex_desert_sword
        iceandfire:myrmex_desert_sword_venom
        iceandfire:myrmex_jungle_axe
        iceandfire:myrmex_jungle_boots
        iceandfire:myrmex_jungle_chestplate
        iceandfire:myrmex_jungle_helmet
        iceandfire:myrmex_jungle_hoe
        iceandfire:myrmex_jungle_leggings
        iceandfire:myrmex_jungle_pickaxe
        iceandfire:myrmex_jungle_shovel
        iceandfire:myrmex_jungle_staff
        iceandfire:myrmex_jungle_sword
        iceandfire:myrmex_jungle_sword_venom
        spartanfire:battleaxe_desert
        spartanfire:battleaxe_desert_venom
        spartanfire:battleaxe_dragonbone
        spartanfire:battleaxe_fire_dragonbone
        spartanfire:battleaxe_ice_dragonbone
        spartanfire:battleaxe_jungle
        spartanfire:battleaxe_jungle_venom
        spartanfire:boomerang_desert
        spartanfire:boomerang_desert_venom
        spartanfire:boomerang_dragonbone
        spartanfire:boomerang_fire_dragonbone
        spartanfire:boomerang_ice_dragonbone
        spartanfire:boomerang_jungle
        spartanfire:boomerang_jungle_venom
        spartanfire:crossbow_desert
        spartanfire:crossbow_desert_venom
        spartanfire:crossbow_dragonbone
        spartanfire:crossbow_fire_dragonbone
        spartanfire:crossbow_ice_dragonbone
        spartanfire:crossbow_jungle
        spartanfire:crossbow_jungle_venom
        spartanfire:dagger_desert
        spartanfire:dagger_desert_venom
        spartanfire:dagger_dragonbone
        spartanfire:dagger_fire_dragonbone
        spartanfire:dagger_ice_dragonbone
        spartanfire:dagger_jungle
        spartanfire:dagger_jungle_venom
        spartanfire:glaive_desert
        spartanfire:glaive_desert_venom
        spartanfire:glaive_dragonbone
        spartanfire:glaive_fire_dragonbone
        spartanfire:glaive_ice_dragonbone
        spartanfire:glaive_jungle
        spartanfire:glaive_jungle_venom
        spartanfire:greatsword_desert
        spartanfire:greatsword_desert_venom
        spartanfire:greatsword_dragonbone
        spartanfire:greatsword_fire_dragonbone
        spartanfire:greatsword_ice_dragonbone
        spartanfire:greatsword_jungle
        spartanfire:greatsword_jungle_venom
        spartanfire:halberd_desert
        spartanfire:halberd_desert_venom
        spartanfire:halberd_dragonbone
        spartanfire:halberd_fire_dragonbone
        spartanfire:halberd_ice_dragonbone
        spartanfire:halberd_jungle
        spartanfire:halberd_jungle_venom
        spartanfire:hammer_desert
        spartanfire:hammer_desert_venom
        spartanfire:hammer_dragonbone
        spartanfire:hammer_fire_dragonbone
        spartanfire:hammer_ice_dragonbone
        spartanfire:hammer_jungle
        spartanfire:hammer_jungle_venom
        spartanfire:javelin_desert
        spartanfire:javelin_desert_venom
        spartanfire:javelin_dragonbone
        spartanfire:javelin_fire_dragonbone
        spartanfire:javelin_ice_dragonbone
        spartanfire:javelin_jungle
        spartanfire:javelin_jungle_venom
        spartanfire:katana_desert
        spartanfire:katana_desert_venom
        spartanfire:katana_dragonbone
        spartanfire:katana_fire_dragonbone
        spartanfire:katana_ice_dragonbone
        spartanfire:katana_jungle
        spartanfire:katana_jungle_venom
        spartanfire:lance_desert
        spartanfire:lance_desert_venom
        spartanfire:lance_dragonbone
        spartanfire:lance_fire_dragonbone
        spartanfire:lance_ice_dragonbone
        spartanfire:lance_jungle
        spartanfire:lance_jungle_venom
        spartanfire:longbow_desert
        spartanfire:longbow_desert_venom
        spartanfire:longbow_dragonbone
        spartanfire:longbow_fire_dragonbone
        spartanfire:longbow_ice_dragonbone
        spartanfire:longbow_jungle
        spartanfire:longbow_jungle_venom
        spartanfire:longsword_desert
        spartanfire:longsword_desert_venom
        spartanfire:longsword_dragonbone
        spartanfire:longsword_fire_dragonbone
        spartanfire:longsword_ice_dragonbone
        spartanfire:longsword_jungle
        spartanfire:longsword_jungle_venom
        spartanfire:mace_desert
        spartanfire:mace_desert_venom
        spartanfire:mace_dragonbone
        spartanfire:mace_fire_dragonbone
        spartanfire:mace_ice_dragonbone
        spartanfire:mace_jungle
        spartanfire:mace_jungle_venom
        spartanfire:pike_desert
        spartanfire:pike_desert_venom
        spartanfire:pike_dragonbone
        spartanfire:pike_fire_dragonbone
        spartanfire:pike_ice_dragonbone
        spartanfire:pike_jungle
        spartanfire:pike_jungle_venom
        spartanfire:rapier_desert
        spartanfire:rapier_desert_venom
        spartanfire:rapier_dragonbone
        spartanfire:rapier_fire_dragonbone
        spartanfire:rapier_ice_dragonbone
        spartanfire:rapier_jungle
        spartanfire:rapier_jungle_venom
        spartanfire:saber_desert
        spartanfire:saber_desert_venom
        spartanfire:saber_dragonbone
        spartanfire:saber_fire_dragonbone
        spartanfire:saber_ice_dragonbone
        spartanfire:saber_jungle
        spartanfire:saber_jungle_venom
        spartanfire:spear_desert
        spartanfire:spear_desert_venom
        spartanfire:spear_dragonbone
        spartanfire:spear_fire_dragonbone
        spartanfire:spear_ice_dragonbone
        spartanfire:spear_jungle
        spartanfire:spear_jungle_venom
        spartanfire:staff_desert
        spartanfire:staff_desert_venom
        spartanfire:staff_dragonbone
        spartanfire:staff_fire_dragonbone
        spartanfire:staff_ice_dragonbone
        spartanfire:staff_jungle
        spartanfire:staff_jungle_venom
        spartanfire:throwing_axe_desert
        spartanfire:throwing_axe_desert_venom
        spartanfire:throwing_axe_dragonbone
        spartanfire:throwing_axe_fire_dragonbone
        spartanfire:throwing_axe_ice_dragonbone
        spartanfire:throwing_axe_jungle
        spartanfire:throwing_axe_jungle_venom
        spartanfire:throwing_knife_desert
        spartanfire:throwing_knife_desert_venom
        spartanfire:throwing_knife_dragonbone
        spartanfire:throwing_knife_fire_dragonbone
        spartanfire:throwing_knife_ice_dragonbone
        spartanfire:throwing_knife_jungle
        spartanfire:throwing_knife_jungle_venom
        spartanfire:warhammer_desert
        spartanfire:warhammer_desert_venom
        spartanfire:warhammer_dragonbone
        spartanfire:warhammer_fire_dragonbone
        spartanfire:warhammer_ice_dragonbone
        spartanfire:warhammer_jungle
        spartanfire:warhammer_jungle_venom
        spartanshields:shield_basic_wood
        spartanshields:shield_tower_wood
        spartanweaponry:battleaxe_wood
        spartanweaponry:boomerang_wood
        spartanweaponry:caestus
        spartanweaponry:caestus_studded
        spartanweaponry:club_studded
        spartanweaponry:club_wood
        spartanweaponry:crossbow_wood
        spartanweaponry:crossbow_leather
        spartanweaponry:dagger_wood
        spartanweaponry:glaive_wood
        spartanweaponry:greatsword_wood
        spartanweaponry:halberd_wood
        spartanweaponry:hammer_wood
        spartanweaponry:javelin_wood
        spartanweaponry:katana_wood
        spartanweaponry:lance_wood
        spartanweaponry:longbow_wood
        spartanweaponry:longbow_leather
        spartanweaponry:longsword_wood
        spartanweaponry:mace_wood
        spartanweaponry:mace_wood
        spartanweaponry:rapier_wood
        spartanweaponry:saber_wood
        spartanweaponry:spear_wood
        spartanweaponry:staff
        spartanweaponry:throwing_axe_wood
        spartanweaponry:throwing_knife_wood
        spartanweaponry:warhammer_wood
     >

    # Determines whether or not vanilla experience contributes to AoV experience gain
    B:"Enable Vanilla Experience gain"=false

    # Sets the maximum level
    I:"Max Level"=15

    # Sets the recharge rate per tick, -1 disables this
    I:"Recharge Delay"=200

    # If false, the Astro UI will no longer render while not holding any card, spread, or royal road buff.
    B:"Render Astro UI while Empty"=true

    # Renders the Charges left to be above the Spellbar instead of below. This setting has no impact if Render SpellBar Over HotBar is enabled.
    B:"Render Charges Above SpellBar"=true

    # Enables the text render for the Astro UI Royal Road. If disabled, only the icon will render.
    B:"Render Royal Road Text"=true

    # Sets the Spellbar to render in place of the hotbar while active.
    B:"Render SpellBar Over HotBar"=true

    # Enables the targetting UI renderer.
    B:"Render Target UI"=true

    # Handwraps add +6 to base attack speed
    B:"Speedy Handwraps"=true

    # Increase this if you experience weird render issues with this mod and other mods.
    # Min: 0
    # Max: 2147483647
    I:"Starting Stencil Buffer ref Value"=100

    # How transparent the target ui is.
    # Min: 0.0
    # Max: 1.0
    D:"Target UI Opcaity"=0.25

    ##########################################################################################################
    # element positions
    #--------------------------------------------------------------------------------------------------------#
    # The XY positions of on screen elements from the mod
    ##########################################################################################################

    "element positions" {
        I:"Astro X"=0
        I:"Astro Y"=0
        I:"SpellBar X"=-5
        I:"SpellBar Y"=-1
        I:"Target X"=0
        I:"Target Y"=0
    }

    ##########################################################################################################
    # earthquake
    #--------------------------------------------------------------------------------------------------------#
    # Manages the Earthquake Spell Block Destruction
    ##########################################################################################################

    earthquake {
        # Chance that a Destruction will take place; Lower = Higher Chance
        # Min: 1
        # Max: 2147483647
        I:"Destruction Chance"=5

        # domain:name:meta|other
        # meta is optional
        # [other] is what CAN be broken down but won't be broken down into.
        # 
        # Example: [minecraft:gravel|minecraft:grass] may have Cobble before it, so Cobble breaks down into Gravel, which may have Dirt after it so Gravel breaks down into Dirt.
        # Grass will also break down into Dirt but Cobble will never break down into Grass.
        S:"Destruction Order" <
            minecraft:stone
            minecraft:cobblestone
            minecraft:gravel|minecraft:grass
            minecraft:dirt
            minecraft:sand
         >

        # Amount of Ticks to wait until the next Destruction; Lower = Sooner
        # Min: 1
        # Max: 2147483647
        I:"Destruction Ticks"=5
        B:Enable=true

        # If Disabled, destruction stops at the last block rather than setting to air
        B:"Enable Air"=true
        B:"Enable Screen Shaking"=true
    }

}


