# Configuration file

##########################################################################################################
# attributes
#--------------------------------------------------------------------------------------------------------#
# Attributes
##########################################################################################################

attributes {
    # Damage: 4 (2 Hearts). (50 = half, 200 = double)
    I:tier1attackDamage=100

    # Health: 40 (20 Hearts). (50 = half, 200 = double)
    I:tier1maxHealth=100

    # Damage: 6 (3 Hearts). (50 = half, 200 = double)
    I:tier2attackDamage=100

    # Health: 80 (40 Hearts). (50 = half, 200 = double)
    I:tier2maxHealth=100

    # Damage: 8 (4 Hearts). (50 = half, 200 = double)
    I:tier3attackDamage=100

    # Health: 160 (80 Hearts). (50 = half, 200 = double)
    I:tier3maxHealth=100
}


##########################################################################################################
# damage
#--------------------------------------------------------------------------------------------------------#
# Base Damage
##########################################################################################################

damage {
    # Melee attacks deal an additional 2.0 (1 heart) of damage
    B:baseDamage=true

    # Shields Block Piercing Damage
    B:baseDamageArchers=true

    # Archers arrows deal an additional 1 (0.5 heart) of damage
    B:shieldsBlockPiercing=true
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debug
##########################################################################################################

debug {
    # Disables all non-Gaia mobs from spawning
    B:debugCommands=false

    # Enables developer commands
    B:debugSpawn=false

    # Mobs can drop nuggets/shards from other mods. (Disable if you encounter issues)
    B:oreUnity=true
}


##########################################################################################################
# defense
#--------------------------------------------------------------------------------------------------------#
# Base Damage Cap
##########################################################################################################

defense {
    # Maximum amount of hits required. (0 = disable)
    I:tier1baseDefense=2

    # Maximum amount of hits required. (0 = disable)
    I:tier2baseDefense=4

    # Maximum amount of hits required. (0 = disable)
    I:tier3baseDefense=8
}


##########################################################################################################
# dimensions
#--------------------------------------------------------------------------------------------------------#
# Dimensional Settings
##########################################################################################################

dimensions {
    # Disables Gaia mobs from spawning in the specified dimension ids
    I:dimensionBlacklist <
        4
        -8
        14676
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Spawn Rates
##########################################################################################################

general {
    # Ant Hill
    I:spawnAntHill=20

    # Ant Salvager
    I:spawnAntRanger=20

    # Anubis
    I:spawnAnubis=70

    # Arachne
    I:spawnArachne=70

    # Banshee
    I:spawnBanshee=70

    # Baphomet
    I:spawnBaphomet=12

    # Bee
    I:spawnBee=40

    # Beholder
    I:spawnBeholder=2

    # Bone Knight
    I:spawnBoneKnight=70

    # Cecaelia
    I:spawnCecaelia=70

    # Centaur
    I:spawnCentaur=20

    # Cobble Golem
    I:spawnCobbleGolem=70

    # Cobblestone Golem
    I:spawnCobblestoneGolem=60

    # Creep
    I:spawnCreep=5

    # Cyclops
    I:spawnCyclops=0

    # Deathword
    I:spawnDeathword=70

    # Dhampir
    I:spawnDhampir=70

    # Dryad
    I:spawnDryad=60

    # Dullahan
    I:spawnDullahan=100

    # Dwarf
    I:spawnDwarf=70

    # Ender Dragon Girl
    I:spawnEnderDragonGirl=0

    # Ender Eye
    I:spawnEnderEye=70

    # Flesh Lich
    I:spawnFleshLich=60

    # Gelatinous Slime
    I:spawnGelatinousSlime=100

    # Goblin
    I:spawnGoblin=30

    # Gryphon
    I:spawnGryphon=30

    # Harpy
    I:spawnHarpy=70

    # Wizard Harpy
    I:spawnHarpyWizard=60

    # Hunter
    I:spawnHunter=60

    # Kikimora
    I:spawnKikimora=0

    # Kobold
    I:spawnKobold=0

    # Mandragora
    I:spawnMandragora=80

    # Matango
    I:spawnMatango=50

    # Mermaid
    I:spawnMermaid=60

    # Mimic
    I:spawnMimic=40

    # Minotaur
    I:spawnMinotaur=20

    # Minotaurus
    I:spawnMinotaurus=50

    # Mummy
    I:spawnMummy=60

    # Naga
    I:spawnNaga=30

    # Nine Tails
    I:spawnNineTails=0

    # Oni
    I:spawnOni=0

    # Orc
    I:spawnOrc=80

    # Satyress
    I:spawnSatyress=15

    # Selkie
    I:spawnSelkie=10

    # Shaman
    I:spawnShaman=20

    # Sharko
    I:spawnSharko=60

    # Siren
    I:spawnSiren=0

    # Sludge Girl
    I:spawnSludgeGirl=0

    # Sphinx
    I:spawnSphinx=20

    # Spriggan
    I:spawnSpriggan=40

    # Succubus
    I:spawnSuccubus=15

    # Toad
    I:spawnToad=70

    # Valkyrie
    I:spawnValkyrie=20

    # Vampire
    I:spawnVampire=20

    # Ancient Vase
    I:spawnVase=80

    # Ancient Vase (Nether)
    I:spawnVaseNether=30

    # Werecat
    I:spawnWerecat=0

    # Witch
    I:spawnWitch=0

    # Wither Cow
    I:spawnWitherCow=30

    # Yeti
    I:spawnYeti=80

    # Yuki-Onna
    I:spawnYukiOnna=0
}


options {
    # Gaia mobs can now drop Copper and Silver Nuggets
    B:additionalOre=true

    # Disable drops not using loot tables.
    B:disableDrops=false

    # Disable mobs that use the Invisibility status effect when far from a player.
    B:disableInvisibility=false

    # Enable Gaia mobs to spawn
    B:enableSpawn=true

    # All mobs are now hostile
    B:passiveHostileAllMobs=false

    # Hostile day mobs will no longer attack players on sight
    B:passiveHostileMobs=false

    # Archers will strafe and avoid attacks (like Skeletons)
    B:strafingArchers=true
}


##########################################################################################################
# spawn
#--------------------------------------------------------------------------------------------------------#
# Spawn Options
##########################################################################################################

spawn {
    # Additional Blocks Gaia flower can spawn on
    S:additionalFlowerSpawnBlocks <
        minecraft:sandstone
     >

    # Additional Blocks Gaia mobs can spawn on
    S:additionalSpawnBlocks <
        minecraft:sandstone
     >

    # Remove spawn conditions related to height (Y-axis).
    B:disableYRestriction=false

    # Mobs only spawn after a certain amount of days have passed
    B:spawnDaysPassed=false

    # Amount of days required to have passed before they can start spawning
    I:spawnDaysSet=3

    # Level 3 mobs only spawn when it is raining/snowing.
    B:spawnLevel3Rain=false

    # Remove spawn conditions related to weather.
    B:spawnWeather=false
}


