# Configuration file

##########################################################################################################
# item stacks modular item stack options
#--------------------------------------------------------------------------------------------------------#
# true or false
##########################################################################################################

"item stacks modular item stack options" {
    # Enable Acacia Boat? [default: false]
    B:"Acacia Boat"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Acacia Boat Stack"=16

    # Enable Armor Stand? [default: false]
    B:"Armor Stand"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Armor Stand Stack"=16

    # Enable Beds? [default: false]
    B:Beds=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Beds Stack"=16

    # Enable Beet Stew? [default: false]
    B:"Beet Stew"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Beet Stew Stack"=64

    # Enable Birch Boat? [default: false]
    B:"Birch Boat"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Birch Boat Stack"=16

    # Enable Boat? [default: false]
    B:Boat=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Boat Stack"=16

    # Enable Buckets? [default: false]
    B:Buckets=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Buckets Stack"=64

    # Enable Cakes? [default: false]
    B:Cakes=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Cakes Stack"=16

    # Enable Chest Minecart? [default: false]
    B:"Chest Minecart"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Chest Minecart Stack"=16

    # Enable Dark Oak Boat? [default: false]
    B:"Dark Oak Boat"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Dark Oak Boat Stack"=16

    # Enable Diamond Horse Armor? [default: false]
    B:"Diamond Horse Armor"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Diamond Horse Armor Stack"=8

    # Enable Eggs? [default: false]
    B:Eggs=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Eggs Stack"=64

    # Enable Ender Pearls? [default: false]
    B:"Ender Pearls"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Ender Pearls Stack"=64

    # Enable Furnace Minecart? [default: false]
    B:"Furnace Minecart"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Furnace Minecart Stack"=16

    # Enable Golden Horse Armor? [default: false]
    B:"Golden Horse Armor"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Golden Horse Armor Stack"=8

    # Enable Hopper Minecart? [default: false]
    B:"Hopper Minecart"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Hopper Minecart Stack"=16

    # Enable Iron Horse Armor? [default: false]
    B:"Iron Horse Armor"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Iron Horse Armor Stack"=8

    # Enable jungle Boat? [default: false]
    B:"Jungle Boat"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Jungle Boat Stack"=16

    # Enable Minecart? [default: false]
    B:Minecart=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Minecart Stack"=16

    # Enable Mushroom Stew? [default: false]
    B:"Mushroom Stew"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Mushroom Stew Stack"=64

    # Enable Rabbit Stew? [default: false]
    B:"Rabbit Stew"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Rabbit Stew Stack"=64

    # Enable Saddles? [default: false]
    B:Saddles=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Saddles Stack"=16

    # Enable Signs? [default: false]
    B:Signs=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Signs Stack"=64

    # Enable Snowballs? [default: false]
    B:Snowballs=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Snowballs Stack"=64

    # Enable Spruce Boat? [default: false]
    B:"Spruce Boat"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Spruce Boat Stack"=16

    # Enable TnT Minecart? [default: false]
    B:"TnT Minecart"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"TnT Minecart Stack"=16

    # Enable Writable Books? [default: false]
    B:"Writable Books"=true

    # Stack Size! [range: 1 ~ 64, default: 64]
    I:"Writable Books Stack"=16
}


